.showcase
  .container.d-flex
    .showcase-wrapper
      .showcase-inner
          h1 UI/UX & Graphic Designer
          p I am a Graphic & Web Designer based in New York, specializing in User Interface Design and Development.