<!DOCTYPE html>
html(lang="en")
  include components/head.pug
  body
    main
      include components/header.pug
      //- include components/example.pug
      include components/showcase.pug
      include components/home/product.pug
      //- include components/fact.pug
      //- include components/content.pug
      //- include components/quote.pug
      //- include components/breakfast.pug
      //- include components/change-project.pug
      //- include components/contact.pug
      include components/footer.pug