.breakfast
  .container.d-flex
    .content
      h1.head Light Breakfast
      br
      p Light his can't a creeping. Be, bring blessed night. Replenish blessed creature good. Saw earth every creepeth lights day, divided abundantly form. In Said given lights. Sixth the male. Upon their multiply. Kind beast. Him tree upon.
      br
      p Cattle. Dominion day herb she'd creeping divide darkness. Thich. Subdue had.
      br
      br
      br
      p 
        span.pr-text--bold Client: 
        | Emma Morris
      br
      p 
        span.pr-text--bold Date: 
        | 25.06.2017
      br
      p 
        span.pr-text--bold Share: 
        | Facebook, Twitter, Pinterest
    .img
      img(src=require("../../assets/images/breakfast-page.jpg"), alt="")