.content
  .container.d-flex
    .item
      img.img(src=require("../../assets/images/Pic About.jpg"), alt="")
    .about
      h1.heading About me
      p Given let waters air had you'll, may seed abundantly fish.
      p Were, you'll earth forth winged above brought. Own darkness ther're him can't fourth sea place have.
      br 
      p So the above May stars cattle fruitful face shall. Tree it, winged.
      p Every signs male firmamentus. Morning him.