.contact
  .container
    .row
      .col-lg-5.col-sm-12
        .contact__info
          h1.pr-text--size Contact Info:
          br
          p To give give beginning divide, cattle. Give moving won't, there the abundantly she'd she'd brought air upon. Light hath subdue. Life days creature upon first heaven gathering dry.
          br
          p 
            span.pr-text--bold Address: 
            | 10111 Santa Monica Boulevard, LA
          br
          p 
            span.pr-text--bold Phone: 
            |  +44 987 065 908
          br
          p
            span.pr-text--bold Email:
            |  info@Example.com
          br
          p 
            span.pr-text--bold Fax:
            | + 44 987 065 909
      .col-lg-7.col-sm-12
        .contact__form
          .contact__form-item
            .row
              .col-lg-6
                input.pr-input(type="text", placeholder="Your Name")
              .col-lg-6
                input.pr-input(type="textarea", placeholder="Your Email")
          .contact__form-item
            input.pr-input(type="text",placeholder="Your Title")
            br
            textarea(name="", cols="30", rows="10").pr-input(type="text",placeholder="Your Comment")
          button.pr-button SEND MESSAGE
    .map
      img(src=require("../../assets/images/map.jpg"), alt="")