.fact
  .container.d-flex
    .fact-index
      .briefcase
        col-3
          p hình
        col-3
          p 548
          p PROJECTS COMPLETED
      .clock
        col-3
          p hình
        col-3
          p 1465
          p WORKING HOURS
      .star
        col-3
          p hình
        col-3
          p 612
          p POSITIVE FEEDBACKS
      .heart
        col-3
          p hình
        col-3
          p 735
          p HAPPY CLIENTS

    