.footer
  .container.d-flex
    .row
      .col-lg-3.col-sm-3.col-md-3.p-0
        h1.row__size Piroll Design, Inc.
        br
        br
        p 2017 Piroll. All rights reserved.
        p Designed by robirunk.
      .col-lg-3.col-sm-3.col-md-3.p-0
        p hell@pirolltheme.com
        p +44 987 065 908
      .col-lg-2.col-sm-2.col-md-2.p-0
        a(href="") Project
        br
        a(href="") About
        br
        a(href="") Services
        br
        a(href="") Carreer
      .col-lg-2.col-sm-2.col-md-2.p-0
        a(href="") News
        br
        a(href="") Events
        br
        a(href="") Contact
        br
        a(href="") Legals
      .col-lg-2.col-sm-2.col-md-2.p-0
        a(href="") Facebook
        br
        a(href="") Twitter
        br
        a(href="") Instagram
        br
        a(href="") Dribbble
