.header
  .container.d-flex.header__inner
    .logo
      img(src=require("../../assets/images/logo.png"), alt="") 
    .navbar
      .navbar__item
        a(href="/").navbar__link HOME
      .navbar__item
        a(href="/").navbar__link ABOUT
      .navbar__item
        a(href="/").navbar__link CONTACT
