.quote
  .container.d-flex
    .content
      h1.content__heading Need a Project?
      br
      p.content__para Let us know what you're looking for in an agency. We'll take a look and see if this could be the start of something beautiful.
      br
      button.content__button Let's talk