.showcase
  .container
    .title
      h1.pr-text--bold.pr-text--size UI/UX & Graphic Designer
      p I am a Graphic & Web Designer based in New York, specializing in User Interface Design and Development.
